
{% if 'user' in request.path %}
<footer class="text-center text-lg-start" style="color: white; background-color: #212529 !important; bottom: 0 !important; position: absolute; width: 100%; heigth: 200px;">
{% else %}
<footer class="text-center text-lg-start" style="color: white; background-color: #212529 !important; position: absolute; width: 100%; heigth: 200px;">
{% endif %}

  <div class="container p-4">
    <div class="row">
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Grande paixão</h5>
        <p>
          Site construido no intuito de aprendizado, para desenvolver minhas
          abilidades. Como foi me dado este desafio aproveitei que o tema era livre
          e construi este site com tema de basketball, mais preciso NBA!
        </p>
      </div>

      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Breve História</h5>
        <p>
          Sempre fui um entusiasta no basket, mas só me aprofundei neste mundo em 2019,
          não tinha nenhum jogador favorito, muito menos um time para torcer,
          agora em 2021 meu time é o Mavs(Dallas Mavericks), eu amo o Basket!
        </p>
      </div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
    © 2021 Copyright:
    <a class="text-dark" href="https://github.com/Marcos-VNC" style="color: white !important; text-decoration:none">Marcos Vinicius C. Correa</a>
  </div>
  <!-- Copyright -->
</footer>