{% load static %}

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a href="{% url 'home' %}" class="navbar-brand mb-0 h1">
        <img src="{% static 'imgs/ball.png' %}" alt="" width="30" height="30">
        Home
    </a>
      <div class="d-flex">
          {% if 'user' not in request.path %}
          <form action="{% url 'buscar' %}" method="get" class="d-flex">
            <input class="form-control me-2" type="text" placeholder="Buscar Time" name="buscar">
          </form>
          {% endif %}
          {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="{% url 'dashboard' %}">Dashboard</a>|
            {% if 'dashboard' in request.path %}
                <a class="btn btn-outline-primary" href="{% url 'post' %}">Fazer post</a>|
            {% endif %}
            <a class="btn btn-outline-primary" href="{% url 'logout' %}">Logout</a>
          {% else %}
            <a class="btn btn-outline-primary" href="{% url 'login' %}">Login</a>
          {% endif %}
      </div>
  </div>
</nav>