
body{
    background-color: #202020 !important;
}

h1{
    color: white !important;
}


#img{
    max-width: 70% !important;
    max-height: 70% !important;
    height: 70% !important;
    width: 50% !important;
}

#imgLogo{
    width: 200 !important;
    height: 200 !important;
}

.row{
color: white !important;
}


.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#offcanvas #offcanvasTop{
    height: 90% !important;
    min-height: 90% !important;
}

td{
  background-color: blue !important;
}

